<!DOCTYPE html>
<html lang="vi" ng-app="myApp" ng-controller="myCtrl">
<head>
  <title>{{domain}}</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.6/css/bootstrap.min.css"/>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/angular-loading-bar/0.8.0/loading-bar.min.css"/>
  
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.8/angular.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/0.14.3/ui-bootstrap-tpls.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.8/angular-cookies.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.8/angular-animate.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-loading-bar/0.8.0/loading-bar.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.6/js/bootstrap.min.js"></script>
  
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/vi_VN/sdk.js#xfbml=1&version=v2.5&appId=928485927213150";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

  <style>
.nav,.pagination,.carousel,.panel-title a{cursor:pointer}/*this for ui-bootstrap.min.js*/

#loading-bar .bar{background:#F12B24;}#loading-bar-spinner .spinner-icon{border-top-color:#F12B24;border-left-color:#F12B24}#loading-bar .peg{-moz-box-shadow:#F12B24 1px 0 6px 1px;-ms-box-shadow:#F12B24 1px 0 6px 1px;-webkit-box-shadow:#F12B24 1px 0 6px 1px;box-shadow:#F12B24 1px 0 6px 1px}/*this for loading-bar*/

.navbar-blue{border-width:0;background-color:#3B5999}.navbar-blue li > a,.navbar-toggle{color:#efefef}.navbar-blue .dropdown-menu li a{color:#2A4888}.navbar-blue .dropdown-menu li > a{padding-left:30px}.navbar-blue li>a:hover,.navbar-blue li>a:focus,.navbar-blue .open,.navbar-blue .open>a,.navbar-blue .open>a:hover,.navbar-blue .open>a:focus{background-color:#2A4888;color:#fff}.navbar-blue a.navbar-brand{color:#fff}/*this for facebook-like navbar*/

.panel-heading{font-size:24px}.panel-footer-right{float:right}.panel-footer-right a{padding:10px 20px;display:inline-block;border-left:1px solid #ccc}/*this for custom panel css*/
button:focus,a:focus{outline:0!important}
</style>
</head>
<body>
<nav class="navbar navbar-default" style="border-radius:0;">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href>{{domain}}</a>
    </div>
    <div>
      <ul class="nav navbar-nav"></ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href><i class="glyphicon glyphicon-plus"></i> Đăng</a></li>
        <li class="dropdown" ng-if="usr.logged" title="{{usr.name}}">
			<a style="padding:4px;" class="dropdown-toggle" data-toggle="dropdown" href><img style="border-radius: 4px;width:42px;" ng-src="http://graph.facebook.com/{{usr.fbid}}/picture"/></a>
			<ul class="dropdown-menu">
				<li ng-click="usr.logOut()"><a href>Thoát nick</a></li>
			</ul>
		</li>
        <li ng-if="!usr.logged" ng-click="usr.login()"><a href>facebook | Đăng nhập</a></li>
      </ul>
	  
	  
    </div>
  </div>
</nav>

<script type="text/ng-template" id="comment.html">
<div class="panel panel-default">
	<div class="panel-heading">Bình luận <div class="pull-right"><a href ng-click="cancel()">ESC</a></div></div>
	<div class="panel-body" id="commentFrame"><div class="fb-comments" data-href="{{u}}" data-numposts="5"></div></div>
</div>
</script>

<script type="text/ng-template" id="share.html">
	<div class="panel panel-default">
		<div class="panel-heading">Chia sẻ<div class="pull-right"><a href ng-click="cancel()">ESC</a></div></div>
		<div class="panel-body">
			<a style="color:white;background:#009DDC;background:-webkit-linear-gradient(left,#009DDC,#47AA42,#F57B20,#EE2375);background:-o-linear-gradient(left,#009DDC,#47AA42,#F57B20,#EE2375);background:-moz-linear-gradient(left,#009DDC,#47AA42,#F57B20,#EE2375);background:linear-gradient(to right,#009DDC,#47AA42,#F57B20,#EE2375);" ng-href="http://link.apps.zing.vn/share?u={{tin.url}}" target="_blank" class="btn btn-default" href="#">ZingMe</a> <a ng-href="https://www.facebook.com/sharer/sharer.php?u={{tin.url}}" target="_blank" class="btn btn-default" ng-href="{{tin.url}}" style="background:#3B5999;color:white">Facebook</a>
		</div>
	</div>
</script>



<div class="container-fluid">
  <div class="row">
	<div class="col-md-4">
	<uib-accordion close-others="false">
		<uib-accordion-group heading="Giao diện &gt;">
			<label>News Feed <span class="glyphicon glyphicon-th-large"></span> <input type="radio" ng-model="tin.style" value="facebook"/></label>
			| |
			<label><input type="radio" ng-model="tin.style" value="reddit"/> <span class="glyphicon glyphicon-th-list"></span> Bảng</label>
		</uib-accordion-group>
		<uib-accordion-group heading="Lọc tin &gt;">
			<div>
				<label><input type="radio" ng-model="tin.q.order" value="hot"/> Đã duyệt</label>
				<label><input type="radio" ng-model="tin.q.order" value="moi"/> Chưa duyệt</label>
			</div>
			<div>Từ các kênh</div>
		<!--a href class="btn btn-lg btn-default" style="display:block">Đăng tin mới</a-->
			<div id="side_kenh">
				<button ng-repeat="kenh in tin.categories" class="btn btn-default btn-sm" style="border-radius:0" ng-class="{active:tin.inKenh($index)}" ng-click="tin.toggleCategory($index)">{{kenh.name}}</button>
			</div>
			<div><a ng-click="tin.q.kenh=[]" href><small>Xóa hết kênh đã chọn (hiển thị tất cả)</small></a></div>
		
			<div class="input-group" style="margin:8px 0">
			  <span class="input-group-addon">Website:</span>
			  <input placeholder="tất cả" ng-model="tin.q.domain" type="text" class="form-control"/>
			  <span class="input-group-btn">
				<button class="btn btn-default" ng-click="tin.q.domain=''"><span class="glyphicon glyphicon-remove"></span></button>
			  </span>
			</div>
		</uib-accordion-group>
		<uib-accordion-group heading="Reddit Việt Nam &gt;">
			<div style="margin:5px 0"><a target="_blank" class="btn btn-default" ng-href="https://www.facebook.com/v2.3/plugins/like.php?href=http://{{domain}}&locale=vi_VN&share=true&show_faces=true"><img src="https://cdnjs.cloudflare.com/ajax/libs/webicons/2.0.0/webicons/webicon-facebook-s.png"/> Thích tinhot.ga trên Facebook</a></div>
			<div style="border:1px solid #AEAEAE" class="fb-page" data-href="https://www.facebook.com/linkmoi" data-tabs="timeline" data-small-header="true" data-adapt-container-width="true" data-hide-cover="true" data-show-facepile="false"><div class="fb-xfbml-parse-ignore"><blockquote cite="https://www.facebook.com/linkmoi"><a href="https://www.facebook.com/linkmoi">Link Mới</a></blockquote></div></div>
		</uib-accordion-group>
	</uib-accordion>
	</div>
	<div class="col-md-8">
		<div ng-if="tin.items.length==0">Không có tin nào để hiển thị</div>
		<div ng-if="tin.style=='reddit'"><!--đọc tin phong cách reddit-->
			<div class="table-responsive">
				<table class="table table-striped">
					<tbody>
						<tr ng-repeat="i in tin.items">
<td style="width:200px"><img style="max-height:400px;width:100%;" ng-src="{{i.image}}"/></td>
<td>
<div><a href ng-click="tin.thich(i.id)"><span class="glyphicon" ng-class="{'glyphicon-heart-empty':!usr.tinDaThich(i.id),'glyphicon-heart':usr.tinDaThich(i.id)}"></span></a> <a ng-href="{{i.url}}" target="_blank"><span class="glyphicon glyphicon-new-window"></span></a> <span title="{{i.text}}">{{i.title}}</span></div>
<div>
<span style="padding: 10px 15px;
    display: inline-block;">{{i.name}} - <a href ng-click="tin.q.domain=i.domain">{{i.domain}}</a> - <a href ng-click="tin.q.kenh=[i.catID]">{{tin.kenhTen(i.catID)}}</a> - hôm nay</span>
</div>
<div>
	<a href ng-click="tin.hienShareBox(i)" title="Chia sẻ"><span class="glyphicon glyphicon-share-alt"></span></a>
	<a href ng-click="tin.hienThiComment(i.url)"><span class="glyphicon glyphicon-comment"></span></a>
</div>
</td>

						</tr>
					</tbody>
				</table>
			</div>
		</div>
		<div ng-if="tin.style=='facebook'"><!--đọc tin phong cách facebook-->
			<div class="panel panel-default" ng-repeat="i in tin.items" style="border-color:#AEAEAE">
			  <div class="panel-heading" style="background:white">
					<a href ng-click="tin.thich(i.id)"><span class="glyphicon" ng-class="{'glyphicon-heart-empty':!usr.tinDaThich(i.id),'glyphicon-heart':usr.tinDaThich(i.id)}"></span></a>
					<a ng-href="{{i.url}}" target="_blank"><span class="glyphicon glyphicon-new-window"></span></a> {{i.title}}
			  </div>
			  <div class="panel-body row">
				<div class="col-md-6"><img style="max-height:400px;width:100%;" ng-src="{{i.image}}"/></div>
				<div class="col-md-6">{{i.text}}</div>
			  </div>
				<div class="panel-footer" style="padding:0">
					<span style="padding: 10px 15px;
    display: inline-block;">{{i.name}} - <a href ng-click="tin.q.domain=i.domain">{{i.domain}}</a> - <a href ng-click="tin.q.kenh=[i.catID]">{{tin.kenhTen(i.catID)}}</a> - hôm nay</span>
					<span class="panel-footer-right">
						<a href ng-click="tin.hienShareBox(i)" title="Chia sẻ"><span class="glyphicon glyphicon-share-alt"></span></a>
						<a href ng-click="tin.hienThiComment(i.url)"><span class="glyphicon glyphicon-comment"></span></a>
					</span>
				</div>
				<div style="clear:both"></div>
			</div>
		</div>
		
	</div>
  </div>
</div>
<script>var app=angular.module('myApp',['ngCookies','ui.bootstrap','angular-loading-bar']);
app.controller('CommentCtrl',function($scope,$uibModalInstance,url){
	$scope.cancel=function(){$uibModalInstance.dismiss();};
	$scope.u=url;
});
app.controller('ShareCtrl',function($scope,$uibModalInstance,tin){
	$scope.tin=tin;
	$scope.cancel=function(){$uibModalInstance.dismiss();};
});
app.controller('myCtrl',function($scope,$http,$cookies,$uibModal,$q){
ck=$cookies;
scope=$scope;
http=$http;
/*cấu hình*/
	scope.domain='tinhot.ga';
	scope.toInt=function(n){return parseInt(n, 10);};
/*hàm*/
	scope.tin={
		hienThiComment:function(u){
			function fn5435(){
				var modalInstance = $uibModal.open({
					templateUrl: 'comment.html',
					controller: 'CommentCtrl',
					size:'lg',
					resolve:{url:function(){return u;}},
				});
				return true;
			}
			function fn37478(){
				FB.XFBML.parse(document.getElementById('commentFrame'));
			}
			jQuery.when(fn5435()).then(function(){setTimeout(fn37478,1);});
		},
		hienShareBox:function(tin){
			$uibModal.open({
				templateUrl: 'share.html',
				controller: 'ShareCtrl',
				size:'sm',
				resolve:{tin:function(){return tin;}},
			});
		},
		style:'facebook',
		/*list*/
		q:{
			order:'hot',
			kenh:[],
		},
		items:[],
		capNhat:function(){
			$http.post('/api.tin.q.php',scope.tin.q).success(function(res){
				res.map(function(x){x.catID=parseInt(x.catID);return x;});
				scope.tin.items=res;
			});
		},
		thongBao:{
			status:function(){
				if(scope.usr.logged==false)return false;
				ret=(scope.tin.q.kenh.toString()==scope.usr.kenh.toString());
				return ret;
			},
			run:function(){
				scope.usr.yeuCauLogin();
				scope.tin.q.kenh=angular.copy(scope.usr.kenh);
			}
		},
		categories:[{"name":"Chung"},{"name":"Gi\u1ea3i tr\u00ed"},{"name":"Th\u1ec3 thao"},{"name":"V\u0103n h\u00f3a"},{"name":"C\u00f4ng ngh\u1ec7"},{"name":"Kinh doanh"},{"name":"Gia \u0111\u00ecnh"},{"name":"S\u1ee9c kh\u1ecfe"},{"name":"L\u1ea1"},{"name":"H\u00e0i"},{"name":"Khoa h\u1ecdc"},{"name":"Th\u1eddi s\u1ef1"},{"name":"Manga"},{"name":"Anime"},{"name":"Gi\u00e1o d\u1ee5c"},{"name":"Th\u1ebf gi\u1edbi"},{"name":"Ph\u00e1p lu\u1eadt"},{"name":"S\u00e1ch v\u00e0 \u0111\u1ecdc"},{"name":"Xe"},{"name":"Nh\u1ea1c"},{"name":"Phim"},{"name":"Th\u1eddi trang"},{"name":"Du l\u1ecbch"},{"name":"\u1ea8m th\u1ef1c"},{"name":"Nh\u1ecbp s\u1ed1ng"}],
		
		thich:function(id){
			http.get('/api.tin.like.php?'+id).then(function(){scope.usr.capNhat();});
		},
		
		kenhInfo:function(c){return this.categories[c];},
		kenhTen:function(c){return this.kenhInfo(c).name;},
		kenhIndexOf:function(c){return scope.tin.q.kenh.indexOf(c);},
		inKenh:function(c){return (this.kenhIndexOf(c)!=-1);},
		toggleCategory:function(c){
			if(this.inKenh(c)){/*.filter(Number)*/
				newKenhArr=angular.copy(scope.tin.q.kenh);
				delete newKenhArr[this.kenhIndexOf(c)];
				newKenhArr=newKenhArr.filter(Number);
				scope.tin.q.kenh=newKenhArr;
			}
			else
				scope.tin.q.kenh.push(c);
		}
	};
	scope.$watch('tin.q',function(newVal,oVal){
		if(newVal==oVal)return;
		scope.tin.capNhat();
		ck.putObject('q',newVal,{expires:new Date(1999999999999)});
		/*api.usr.kenh.them.php*/
	},true);

	scope.usr={
		logged:false,
		capNhat:function(){
			http.get('/api.usr.php').success(function(res){
				if(res!='false')
				{
					scope.usr.logged=true;
					scope.usr=Object.assign(scope.usr,res);
					scope.usr.kenh=scope.usr.kenh.split(',').map(function(x){return parseInt(x);});
					scope.usr.liked=scope.usr.liked.split(',').map(function(x){return parseInt(x);});
				}else scope.usr.logged=false;
			});
		},
		logOut:function(){ck.remove('id');ck.remove('pw');scope.usr.logged=false;},
		login:function(){window.location.assign('/api.usr.login.php');},
		yeuCauLogin:function(){
			if(scope.usr.logged)return true;
			if(confirm('Hãy đăng nhập để dùng tính năng này và cực nhiều tính năng khác')==true)scope.usr.login();else return false;
		},
		
		tinDaThich:function(id){
			if(!scope.usr.logged)return false;
			liked=angular.copy(scope.usr.liked);
			for(i=0;i<liked.length;i++)if(id==liked[i])return true;
			return false;
		}
	}
/*run*/
	scope.usr.capNhat();
	qFromCookie=ck.getObject('q');
	if(typeof qFromCookie!='undefined')scope.tin.q=qFromCookie;
	scope.tin.capNhat();
});</script>
</body>
</html>














